/**
 * Styles for EasyAdmin custom field SortableCollectionField
 */
.field-collection-item {

  // Fix some quirks of nested collections
  .field-collection-item {
    position: relative;
    padding-right: 29px;
  }

  .field-collection-item .field-collection-delete-button {
    right: 0;
  }

  // Allow to layout embedded forms with BS grid columns inside EasyAdmin CollectionField
  .accordion-body {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);

    > * {
      margin-top: var(--bs-gutter-y);
      max-width: 100%;
      padding-left: calc(var(--bs-gutter-x)*.5);
      padding-right: calc(var(--bs-gutter-x)*.5);
    }
  }
}

// Bring labels above fields instead of next to them to allow better readability
.form-group.field-collection .accordion-item .form-group {
  display: block;
}

.field-collection .sortable .empty.collection-empty {
  padding-left: 5px;
  padding-bottom: 5px;
}

// Hide warning message when some records are not accessible due to permissions
tr.datagrid-row-empty {
  display: none;
}