{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <main class="form-signin w-100 m-auto text-center">
        <form action="{{ path('admin_login') }}" method="post">
            <img class="mb-4" src="{{ asset('build/images/logo.svg') }}" alt="" height="150">
            <h1 class="h3 mb-3 fw-normal">{{ app_name }}</h1>

            {% if error %}
                <div class="text-bg-danger p-3" >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-floating">
                <input type="email" name="_username" class="form-control" id="floatingInput" placeholder="nom@exemple.com" value="{{ last_username }}">
                <label for="floatingInput">E-mail</label>
            </div>
            <div class="form-floating">
                <input type="password" name="_password" class="form-control" id="floatingPassword" placeholder="mot de passe">
                <label for="floatingPassword">Mot de passe</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me" checked> Se souvenir de moi
                </label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="w-100 btn btn-lg btn-primary" type="submit">Connexion</button>

            <p class="mt-5 mb-3 text-muted">{{ app_name }} &copy; {{ "now"|date("Y") }}</p>
        </form>
    </main>
{% endblock %}
